* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #9178ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing: 0.5px;
}

p,
h2 {
    font-size: 0.7rem;
    font-weight: 400;
    color: #ffe0b0;
}

p {
    color: #fdaefd;
}

.contact-list-app {
    width: 750px;
    margin: 0% auto;
    border-radius: 4px;
    background-color: #ffe0b0;
}